* {
    font-family: Poppins;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;
    color: #152C5B;
}

li {
    margin-right: 15px;
}

.header {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #E5E5E5;
}

.header h1 {
    color: #152C5B;
}

.stay {
    color: #3252DF;
}

.firstlist {
    color: #3252DF;
}

main .show__me {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
}

.forget__your {
    position: relative;
    margin-right: 190px;
}

.forget__your h2 {
    font-size: 42px;
    color: #152C5B;
}

.forget__your p {
    color: #B0B0B0;
}

.forget__your button {
    background-color: #3252DF;
    color: white;
    border: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 30px;
}

.travel {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
}

.travel div {
    margin-right: 30px;
}

.travel span {
    color: #152C5B;
    font-weight: bold;
}

.most-picked {
    margin-top: 95px;
    width: max-content;
    padding: auto;
    padding-left: auto;
    padding-right: auto;
    margin-right: auto;
    margin-left: auto; 
}

.container-kolam{
    display:flex;
    flex-direction: row;
    margin-left:  auto;
    margin-right: 30px;
}

.kolam{
    possition: relative;
    border-radius: 15px;
    
}

.kolam2-3{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.kolam1{
    position: relative;
    margin-bottom: 30px;
    border-radius: 15px;
}

.kolam2{
    position: relative;
    border-radius: 15px;
}

.kolam4-5{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.kolam3{
    position: relative;
    margin-bottom: 30px;
    border-radius: 15px;
}

.kolam4{
    position: relative;
    border-radius: 15px;
}

.box-pink{
    position:absolute;
    top: 0px;
    right: 0px;
    width: 180px;
    height: 40px;
    border-radius: 0px 15px;
    text-align: center;
    padding-bottom: 15px;
    background-color: #FF498B;
}

.box-pink p{
    color: white;
}

.box-pink span{
    font-weight: bold;
}

.backyard{
    margin-top: 95px;
    width: max-content;
    padding: auto;
    padding-left: auto;
    padding-right: auto;
    margin-right: auto;
    margin-left: auto;
}

.kontainer-biasalah{
    display: flex;
    flex-direction: row;
}

.pic1{
    position: relative;
    margin-right: 30px;
}

.pic2{
    position: relative;
    margin-right: 30px;
}

.pic3{
    position: relative;
    margin-right: 30px;
}

.pic4{
    position: relative;
    margin-right: 30px;
}

.hotels{
    margin-top: 95px;
    width: max-content;
    padding: auto;
    padding-left: auto;
    padding-right: auto;
    margin-right: auto;
    margin-left: auto;
}

.container-hotel{
    display: flex;
    flex-direction: row;
}

.apartement{
    margin-top: 95px;
    width: max-content;
    padding: auto;
    padding-left: auto;
    padding-right: auto;
    margin-right: auto;
    margin-left: auto;
}

.container-apartement{
    display: flex;
    flex-direction: row;
}

.keluarga {
    display: flex;
    flex-direction: row;
    width: max-content;
    padding: auto;
    padding-right: auto;
    padding-left: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}

.senang1 {
    flex-grow: 2;
    margin: auto;
    padding: auto;
    margin-left: 50px;
}

.img-bintang{
    display: flex;
    flex-direction: row;
}

.senang1 button {
    margin-top: 30px;
    color: white;
    background-color: #3252DF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}